<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:fragment="footer">
    <section class="bg-dark">
      <div class="container mt-5 text-center text-white p-5">
        <h3>Join Our Book Store For Deals And Update On Offers</h3>
        <div class="row justify-content-center">
          <div class="col-md-6 offset-md-2">
            <form action="#" class="form-inline my-3">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Email">
                <div class="input-group-append">
                  <button class="btn btn-success">Join Now</button>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section id="footer" class="p-3 bg-secondary">
      <ul class="nav justify-content-center d-flex flex-column flex-sm-row text-white">

        <li class="nav-item">
          <a href="#" class="nav-link">FAQ</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">Experience</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">Explore</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">Contact</a>
        </li>

      </ul>
    </section>

  </div>
</body>
</html>